uoft/CSC343database/lecture/week8/pcrs/books.dtd

<!ELEMENT BOOKS (BOOK)*>
<!ELEMENT BOOK (TITLE, AUTHOR+, YEAR, RATING+, REVIEW*)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT AUTHOR (#PCDATA)>
<!ELEMENT YEAR (#PCDATA)>
<!ELEMENT RATING (#PCDATA)>
<!ELEMENT REVIEW (CONTENT, USERNAME?)>
<!ELEMENT CONTENT (#PCDATA)>
<!ELEMENT USERNAME (#PCDATA)>

<!ATTLIST BOOK id ID #REQUIRED>